

<section class="container pt-5 mt-lg-3 mt-xl-4 mt-xxl-5">
              <div class="card pt-4 bg-primary overflow-hidden py-2 py-sm-3 py-md-4 mb-sm-2 mb-md-4">
                <div class="bg-dark position-absolute top-0 start-0 w-100 h-100 opacity-5"></div>
                <div class="position-absolute top-0 start-0 w-100 h-100 opacity-15" style="background-image: url(assets/img/landing/conference/noise.png); mix-blend-mode: soft-light;"></div>
                <div class="card-body position-relative d-sm-flex align-items-center justify-content-between z-2 text-center">
                  <div class="d-md-flex align-items-center pe-md-4">
                    <div class="d-none d-md-block text-warning flex-shrink-0 me-3">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 0L12.6798 4.12733C13.2879 7.81883 16.1812 10.7121 19.8727 11.3202L24 12L19.8727 12.6798C16.1812 13.2879 13.2879 16.1812 12.6798 19.8727L12 24L11.3202 19.8727C10.7121 16.1812 7.81882 13.2879 4.12733 12.6798L0 12L4.12733 11.3202C7.81883 10.7121 10.7121 7.81882 11.3202 4.12733L12 0Z"></path>
                      </svg>
                    </div>
                    <h2 class="text-light pb-1 pb-md-0 mb-md-0">Login via google</h2>
                  </div>
                  <asl-google-signin-button [type]="'standard'" size="large" theme="filled_black" shape="rectangular" [width]="400"  text="signin_with" logo_alignment="center"></asl-google-signin-button>

                </div>
              </div>
  </section>
